* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 227, 199, 0.5);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(226, 106, 226);
    color: white;
}

div {
    background-color: rgb(237, 134, 134);
    text-align: center;
}

.ingredients {
    text-align: left;
    background-color: rgb(134, 182, 241, 0.5);
}

#mini {
    background-color: rgb(82, 201, 203, 0.5);
}

ul {
    background-color: rgb(181, 115, 242, 0.5);
    list-style-type: circle;

}