* {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(172, 12, 12);
    color: white;
    padding: 10px;
    border: 5px white double;
    width: 800px;
    margin: 20px auto;
}

.image {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.subhead {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    display: block;
    color: rgb(172, 12, 12);
    padding: 5px 30px;
    background-color: goldenrod;
    width: 200px;
    /* margin: 10px auto; */
}

div {
    background-color: hsla(68, 81%, 63%, 0.5);
    align-items: center;
    text-align: center;
}

a {
    color: rgb(241, 183, 21);
    text-decoration: none;
}

/* ul {
    background-color: rgb(181, 115, 242, 0.5);
    list-style-type: circle;

} */



.recipelist li {

    color: rgb(172, 12, 12);
    list-style-type: square;
    padding: 10px;
    margin-left: 350px;
}